.activity-container{
    height: auto;
    width: 100%;;
}

.activity-heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 30px 10px;
    justify-content: space-evenly;
    align-items: center;
}

.activity-head1{
    display: flex;
    flex: 2;
    width: 100%;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(19, 19, 50);
}

.activity-head2{
    flex: 1;
    width: 90%;
    text-align: justify;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(58, 58, 117);
    padding: 8px 8%;
    border-bottom: 4px solid rgb(4, 4, 42);
}


.activity-outer-box{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    flex-direction: column;
}

.activity-form{
    border: 2px solid rgb(68, 60, 60);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    width: 70%;
    padding: 20px 20px 36px 36px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.66);
}


.activity-form input{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 8px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0;
}

.activity-form button{
    padding: 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(71, 16, 16);
    color: white;
    transition: 0.3s ease;
    width: 20%;
    cursor: pointer;
    font-weight: 700;
}

.activity-form button:hover{
    background-color: white;
    color: rgb(71,16,16);
    border: 2px solid rgb(71,16,16);
}

.activity-content-show{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-content{
    height: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    justify-content: center;
}

.activity-blog-outer-card{
    height: auto;
    padding: 4px 0;
    width: 35%;
    border: 3px solid rgb(86, 86, 102);
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    /* border: 2px solid black; */
}

.activity-blog-inner-card{
    display: flex;
    height: 100%;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
}

.activity-blog-card-image{
    height: 100%;
    flex: 6;
}
.activity-blog-card-image img{
    height: 100%;
    width: 100%;
}
.activity-blog-card-button{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-blog-text-content{
    border-bottom: 2px solid black;
    width: 80%;
    padding: 4px 0;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(54, 47, 47);
}

.activity-blog-card-button{
    padding: 4px 0;
}

.activity-blog-card-button button{
    padding: 4px 15px;
    border: 3px solid rgb(64, 6, 6);
    color:white;
    font-size: large;
    font-weight: 600;
    background-color: rgb(64, 6, 6);
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.activity-blog-card-button button:hover{
    background-color:white;
    color: rgb(64, 6, 6);

}

@media (max-width:1300px){
    .activity-blog-outer-card{
        width: 45%;
    }
}

@media (max-width:1000px){
    .activity-blog-outer-card{
        width: 70%;
    }
}


@media (max-width:750px){
    .activity-form{
        width: 90%;
    }   
    .activity-blog-outer-card{
        width: 80%;
    }
    .activity-blog-text-content{
        font-size: 12px;
    }
    .activity-blog-card-button button{
        font-size: 15px;
        font-weight: 400;
    }
}

@media (max-width:500px){
    .activity-form{
        padding: 10px 10px 20px 20px;
    }
    .activity-form input{
        border: 1px solid gray;
        border-radius: 4px;
        padding: 4px;
        width: 85%;
    }
    .activity-form button{
        font-size: 13px;
        font-weight: 400;
    }
    .activity-blog-outer-card{
        width: 97%;
    }
}

@media (max-width:350px){
    .activity-form button{
        padding: 2px 2px;
        font-size: 10px;
        font-weight: 200;
    }
    .activity-form{
        width: 97%;
    }
    .activity-blog-card-button button{
        font-size: 12px;
        font-weight: 200;
    }
}