.navbar-container{
    height: 50px;
    border: 2px solid rgb(13, 13, 52);
    background-color: rgb(13,13,52);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-content{
    height: 40px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.navbar-heading{
    flex: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.navbar-navlink{
    text-decoration: none;
    color: white;
}

.navbar-links{
    flex: 6;
}

.navbar-links-cont{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-items{
    padding: 4px 20px;
    font-size: large;
    font-weight: 600;
}

.navbar-links-navlink{
    text-decoration: none;
    color:rgb(245, 245, 245);
    cursor: pointer;
}

.navbar-cont4{
    flex: 0.5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.side-navbar-btn{
    margin: 0 20px 0 0;
    cursor: pointer;
    background-color: rgb(46, 27, 143);
    border: none;
    border-radius: 5px;
    padding: 3px 5px 5px 5px;
  }

  .side-navbar-btn:hover{
    background-color: rgb(39, 16, 157);
  } 
  
  .side-navbar-btn span{
    display: block;
    margin-top: 2px;
    background-color:white;
    border-radius: 15px;
    height: 5px;
    width: 20px;
    
  }

@media(min-width:701){
    .navbar-links{
        display: flex;
    }
    .navbar-cont4{
        display: none;
    }
}

@media(max-width:800px){
    .navbar-heading{
        font-size: 20px;
    }
}

@media(max-width:700px){
    .navbar-cont4{
        display: flex;
    }
    .navbar-links{
        display: none;
    }
}



@media (max-width:870px){
    .navbar-heading{
        font-size: 20px;
    }
}